header {
	border: 1px solid purple;
}

nav ul * {
	display: inline-block;
	text-decoration: none;
	padding: 0 15px 0 0;

}

.disabled {
	color: grey;
}

a .disabled {
	color: purple;
}

.active {
	color: yellow;
}



.grandparent div h4:first-of-type {
	color: red;
}

.grandparent div h4 :first-child {
	background-color: red;
}

.grandparent div h4:last-of-type {
	color: blue;
}

.grandparent .parent h4:last-of-type {
	background-color: blue;
}




